<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./fontawesome/css/all.css" />
    <link rel="stylesheet" href="./css/easydocker.css" />

    <!-- ============================ -->
    <!-- JS読み込み                    -->
    <!-- ============================ -->
    <script>
        // JSが動かない対策 https://miyanetdev.com/archives/1162
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
  
    <!-- https://cdn.jsdelivr.net/npm/vue -->
    <script src="./js/vue.js"></script>
    
    <script>if (window.module) module = window.module;</script>

    <title>Easy Docker - editMemo</title>
</head>

<body>
    <div class="container">
        <div class="row bs-callout bs-callout-info">
            <h4 id="dealing-with-specificity">コンテナ メモ編集</h4>
        </div>
        <div id="app">
            <form>
                <div class="form-group row">
                    <!-- 
                    <label for="memo"
                        class="col-sm-4 col-form-label">メモ</label>
                    <div class="col-sm-6">
                    -->
                    <div class="col-sm-1"><br></div>
                    <div>
                        <textarea rows="10" cols="60" class="form-control" id="memo" v-model="memo"></textarea>
                    </div>
                </div>
                 
                <!-- button -->
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-auto">
                        <button type="button" class="btn btn-success"  @click="doSubmit()">
                          <span id="spinner" class="spinner-border spinner-border-sm" role="status" style="display:none"></span>
                          <span>保存</span>
                         </button>
                        <button type="button" class="btn btn-light"
                            @click="window.close()">キャンセル</button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="form-group row">
                    <div class="alert alert-danger col-sm-12"
                        role="alert" data-dismiss="alert" id="alertMsg" style="display:none">
                        <input type="text" class="form-control-plaintext" v-model="msg" />
                        </div>
                </div>
            </form>
        </div>
    </div>
    

    <script>
        const { ipcRenderer } = require('electron');
        var app = new Vue({
            el: '#app',
            data: {
                id: "",
                memo: "",
                msg: "",
            },
            methods: {
                doInit: function (x_id, x_memo) {
                    this.id = x_id
                    this.memo = x_memo
                    console.log(x_id + ":" + x_memo)
                },
                doSubmit: function () {
                    $('#alertMsg').css("display", "none");
                    $('#spinner').css("display", "");
                    this.running = true;
                    console.log("call editContainerMemo_save")
                    ipcRenderer.send('async_editContainerMemo_save', this.id, this.memo)
                },
            }
        })

        // メインプロセスからの通信受け取り
        ipcRenderer.on('async_editContainerMemo_set', function (event, x_id, x_memo) {
            console.log(x_id + ":" + x_memo);
            app.doInit(x_id, x_memo)
        })
        
        // メインプロセスからの通信受け取り
        ipcRenderer.on('async_editContainerMemo_save_res', function (event, x_errMsg) {
            app.msg = x_errMsg;
            $('#alertMsg').css("display", "");
            $('#spinner').css("display", "none");
            app.running = false;
        })

    </script>

    <!-- ================================= -->
    <!-- JS読み込み(Bootstrapは最後らしい)   -->
    <!-- ================================= -->
    <script>
        // JSが動かない対策 https://miyanetdev.com/archives/1162
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- https://code.jquery.com/jquery-3.3.1.slim.min.js -->
    <script src="./js/jquery-3.3.1.slim.min.js"></script>
    
    <!-- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js -->
    <script src="./js/popper.min.js"></script>
    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js -->
    <script src="./js/bootstrap.min.js"></script>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>if (window.module) module = window.module;</script>
    </body>

</html>