<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>EayDocker</title>

    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/easydocker.css" />

    <script>
        // JSが動かない対策 https://miyanetdev.com/archives/1162
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- https://code.jquery.com/jquery-3.3.1.slim.min.js -->
    <script src="./js/jquery-3.3.1.slim.min.js"></script>

    <!-- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js -->
    <script src="./js/popper.min.js"></script>

    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- https://cdn.jsdelivr.net/npm/vue -->
    <script src="./js/vue.js"></script>

    <script src="./main.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>

<body>
    <main class="p-3">
        <!-- 4個分のタブ -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="vavContainer" href="#containerTab" class="nav-link active" data-toggle="tab">コンテナ管理</a>
            </li>
            <li class="nav-item">
                <a id="navImage" href="#imageTab" class="nav-link" data-toggle="tab">イメージ管理</a>
            </li>
            <li class="nav-item">
                <a href="#settingTab" class="nav-link" data-toggle="tab">Docker設定</a>
            </li>
        </ul>
        <!-- タブコンテンツ -->
        <div class="tab-content">
            <div id="containerTab" class="tab-pane active">
                <h1>コンテナ一覧</h1>
                <div v-if="!init">コンテナ情報を取得中です</div>
                <div v-if="init && containers.length == 0">作成済みコンテナはありません。</div>
                <table v-if="containers.length > 0" border="1">
                    <tbody>
                        <tr>
                            <th>ラベル</th>
                            <th>動作状態</th>
                            <th>操作</th>
                            <th>ポート</th>
                            <th>メモ</th>
                            <th>削除</th>
                            <!-- >th>ID</th -->
                        </tr>
                         <tr v-for="container in containers">
                            <td>{{container.image}}</td>
                            <td>{{container.state}}
                                <span  v-if="container.state != 'running'">
                                    <button type="button" class="btn btn-primary"
                                        @click="startContainer(container.id)">開始</button>
                                </span>
                                <span  v-else>
                                    <button type="button" class="btn btn-warning"  @click="stopContainer($event, container.id)">
                                        <span class="spinner-border spinner-border-sm" role="status" style="display:none"></span>
                                                                                                停止
                                    </button>
                                </span>
                            </td>
                            <td>
                                <!--  操作 -->
                                <span v-if="container.state =='running'">
                                    <button type="button" class="btn btn-primary"
                                        @click="runConsole(container.id)">接続</button>
                                </span>
                                <button type="button" class="btn btn-success"
                                    @click="exportContainer(container.id, container.image)">保存</button>
                            </td>
                            <td v-html="container.port"></td>
                            <td><pre style="margin-bottom:0" v-html="container.memo"></pre>
                                <BR><a　style="color:blue;text-decoration:underline;font-style:oblique;cursor:pointer" @click="editContainerMemo(container.id)">edit</a></td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm" 
                                    @click="setModalValue(container.image, container.state, container.id)">削除</button>
                            </tr>
                            <!--  td>{{container.id}}</td -->
                        </th>
                    </tbody>
                </table>
            </div>
            <div id="imageTab" class="tab-pane">
                <div class="mt-2 mb-2">
                    <button type="button" class="btn btn-primary" @click="loadImage()">イメージ追加</button>
                </div>
                <h1>イメージ一覧</h1>
                <div v-if="!init">イメージ情報を取得中です</div>
                <div v-if="init && images.length == 0">登録済みイメージはありません。</div>
                <table v-if="images.length > 0" border="1">
                    <tbody>
                        <tr>
                            <th>タグ</th>
                            <th>操作</th>
                            <th>サイズ</th>
                            <th>ID</th>
                        </tr>
                         <tr v-for="image in images">
                            <td>{{image.tag}}</td>
                            <td>
                                <button class="btn btn-primary" @click="vueImageTab.newContainer(image.id, image.tag)">起動</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteImageConfirm" 
                                    @click="vueImageTab.deleteImage(image.id, image.tag)">削除</button>
                            </td>
                            <td>{{image.size}}</td>
                            <td>{{image.id}}</td>
                        </th>
                    </tbody>
                </table>
            </div>
            <div id="settingTab" class="tab-pane">
                <h1>Dokcer設定: 工事中</h1>
                下記のような設定を行う予定
                <ul>
                    <li>DokerAPIのURL(現在は localhost:2375 固定)</li>
                    <li>Dokerイメージをロードするときの初期ディレクトリ</li>
                    <li>Dokerイメージを書き出すときのgzip圧縮有無(現在は必ず圧縮する)</li>
                </ul>
            </div>
        </div>
    </main>
    <div class="modal fade" id="deleteConfirm" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">コンテナを削除しますか</h5>
                    
                    <!--  右上の×ボタン -->
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="delImage" class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <input type="text" readonly
                                    class="form-control-plaintext"
                                    id="delImage"
                                    v-model="image">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="delStatus" class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <input type="text" readonly
                                    class="form-control-plaintext"
                                    id="delStatus"
                                    v-model="state">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="delId" class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" readonly
                                    class="form-control-plaintext"
                                    id="delID"
                                    v-model="id">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" @click="doDelete()">
                        <span id="spinner" class="spinner-border spinner-border-sm" role="status" style="display:none"></span>
                        <span>実行</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteImageConfirm" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="deleteImageConfirmText" class="modal-title" ></h5>
                    
                    <!--  右上の×ボタン -->
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" @click="doDelete()">削除</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const {ipcRenderer} = require('electron');
        const dockerAPI = require('./dockerAPI');

        ipcRenderer.on('async_to_main_refreshContainer', () => {
            console.log('called async_to_main_refreshContainer');
            var p_atag = $('#vavContainer');
            if(p_atag.hasClass('active')){
                initContainerTab()
            }else{
                p_atag.tab('show');
            }
        })

       ipcRenderer.on('async_to_main_refreshImage', () => {
           var p_atag = $('#navImage');
           if(p_atag.hasClass('active')){
               initImageTab()
           }else{
               p_atag.tab('show');
           }
       })

       var vueContainerTab = new Vue({
            el : '#containerTab',
            data: {
                init : false,
                containers : [], // {id:"", tag:"", size:byte数} の配列}
                stopping: false,
            },
            methods: {
                setContainers: function (x_containers) {
                    this.init = true
                    this.containers = x_containers
                },
                startContainer: function( x_id ){
                    dockerAPI.startContainer(x_id, (x_err)=>{
                        if(x_err != null){
                            alert( x_err );
                        }
                        initContainerTab()
                    })
                },
                stopContainer: function( x_event, x_id ){
                    if(x_event.target.tagName != 'BUTTON'){
                        return;
                    }
                    
                    if(this.stopping){
                        alert('停止作業中です')
                    }
                    
                    this.stopping = true;

                    let spinner = x_event.target.children[0]
                    spinner.style.display = ""
                
                    dockerAPI.stopContainer(x_id, (x_err)=>{
                        if(x_err != null){
                            alert( x_err );
                        }
                        this.stopping = false;
                        spinner.style.display = "none"
                        initContainerTab()
                    })
                },
                runConsole: function( x_id ){
                    const { spawn } = require('child_process');
                    //docker exec -it イメージID /bin/bash
                    const args = ["", "docker", "exec", "-it", x_id, "/bin/bash"]
                    const child = spawn("start", args, { shell: true, stdio: "ignore" })
                    child.unref(); // メインプロセスから切り離す
                },
                exportContainer: function(x_id, x_tag){
                    ipcRenderer.send('async_main_exportContainer', x_id, x_tag);
                },
                editContainerMemo: function(x_id){
                    ipcRenderer.send('async_main_editContainerMemo', x_id);
                },
                setModalValue: function( x_image, x_state, x_id ){
                    deleteConfirm.setValue( x_image, x_state, x_id )
                }
            }
        })
        var vueImageTab = new Vue({
            el : '#imageTab',
            data: {
                init : false,
                images : [],
            },
            methods: {
                setImages: function (x_images) {
                    this.init = true
                    this.images = x_images
                },
                loadImage: function(){
                    ipcRenderer.send('async_main_loadImage');
                },
                newContainer: function(x_imageid, x_tag){
                    ipcRenderer.send('async_main_newContainer', x_imageid, x_tag);
                },
                deleteImage: function(x_imageid, x_tag){
                    deleteImageConfirm.setId(x_imageid);
                    $('#deleteImageConfirmText').html(x_tag + " のイメージを削除しますか？")
                    //ipcRenderer.send('async_main_deleteImage', x_imageid, x_tag);
                }
            }
        })
        var deleteConfirm = new Vue({
            el : '#deleteConfirm',
            data: {
                image : "",
                state : "",
                id : "",
            },
            methods: {
                setValue: function (x_image, x_state, x_id) {
                    this.image = x_image
                    this.state = x_state
                    this.id = x_id
                },
                doDelete: function () {
                    let containerID = this.id
                    $('#spinner').css("display", "")
                    dockerAPI.stopContainer(this.id, function(x_err){
                        dockerAPI.deleteContainer(containerID, function(x_err){
                            if( x_err != null){
                                alert(x_err)
                            }
                            $('#spinner').css("display", "none")
                            $('#deleteConfirm').modal('hide') // hide modal
                            initContainerTab();
                        })
                    })
                }
            }
        })
        var deleteImageConfirm = new Vue({
            el : '#deleteImageConfirm',
            data: {
                id : "",
            },
            methods: {
                setId: function(x_id){
                    this.id = x_id
                },
                doDelete: function () {
                    dockerAPI.deleteImage(this.id, function(x_errMsg){
                        if(x_errMsg != null){
                            alert(x_errMsg)
                        }
                        $('#deleteImageConfirm').modal('hide') // hide modal
                        initImageTab();
                    })
                }
            }
        })
    </script>
</body>

</html>