<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>EayDocker</title>

    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />

    <script>
        // JSが動かない対策 https://miyanetdev.com/archives/1162
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- https://code.jquery.com/jquery-3.3.1.slim.min.js -->
    <script src="./js/jquery-3.3.1.slim.min.js"></script>

    <!-- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js -->
    <script src="./js/popper.min.js"></script>

    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- https://cdn.jsdelivr.net/npm/vue -->
    <script src="./js/vue.js"></script>

    <script src="./main.js"></script>
    <script>if (window.module) module = window.module;</script>
</head>

<body>
    <main class="p-3">
        <!-- 4個分のタブ -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#containerTab" class="nav-link active" data-toggle="tab">コンテナ管理</a>
            </li>
            <li class="nav-item">
                <a href="#imageTab" class="nav-link" data-toggle="tab">イメージ管理</a>
            </li>
            <li class="nav-item">
                <a href="#settingTb" class="nav-link" data-toggle="tab">Docker設定</a>
            </li>
        </ul>
        <!-- タブコンテンツ -->
        <div class="tab-content">
            <div id="containerTab" class="tab-pane active">
                <h1>コンテナ一覧</h1>
                <div v-if="!init">コンテナ情報を取得中です</div>
                <div v-if="init && containers.length == 0">作成済みコンテナはありません。</div>
                <table v-if="containers.length > 0" border="1">
                    <tbody>
                        <tr>
                            <th>ラベル</th>
                            <th>ステータス</th>
                            <th>ポート</th>
                            <th>ID</th>
                        </tr>
                         <tr v-for="container in containers">
                            <td>{{container.image}}</td>
                            <td>{{container.state}}</td>
                            <td v-html="container.port"></td>
                            <td>{{container.id}}</td>
                        </th>
                    </tbody>
                </table>
            </div>
            <div id="imageTab" class="tab-pane">
                <h1>イメージ一覧</h1>
                <div v-if="!init">イメージ情報を取得中です</div>
                <div v-if="init && images.length == 0">登録済みイメージはありません。</div>
                <table v-if="images.length > 0" border="1">
                    <tbody>
                        <tr>
                            <th>タグ</th>
                            <th>ID</th>
                            <th>起動</th>
                            <th>サイズ</th>
                        </tr>
                         <tr v-for="image in images">
                            <td>{{image.tag}}</td>
                            <td><button @click="vueImageTab.newContainer(image.id, image.tag)">起動</button></td>
                            <td>{{image.size}}</td>
                            <td>{{image.id}}</td>
                        </th>
                    </tbody>
                </table>
            </div>
            <div id="settingTab" class="tab-pane">
                <h1>Dokcer設定: 工事中</h1>
                下記のような設定を行う予定
                <ul>
                    <li>DokerAPIのURL(現在は localhost:2375 固定)</li>
                    <li>Dokerイメージをロードするときの初期ディレクトリ</li>
                    <li>Dokerイメージを書き出すときのgzip圧縮有無(現在は必ず圧縮する)</li>
                </ul>
            </div>
        </div>
    </main>

    <script>
        const {ipcRenderer} = require('electron');
        ipcRenderer.on('asynchronous-reply', function(event, x_arg){
                        console.log( x_arg );
                    })

        var vueContainerTab = new Vue({
            el : '#containerTab',
            data: {
                init : false,
                containers : [],
            },
            methods: {
                setContainers: function (x_containers) {
                    this.init = true
                    this.containers = x_containers
                },
            }
        })
        var vueImageTab = new Vue({
            el : '#imageTab',
            data: {
                init : false,
                images : [],
            },
            methods: {
                setImages: function (x_images) {
                    this.init = true
                    this.images = x_images
                },
                newContainer: function(x_imageid, x_tag){
                    ipcRenderer.send('async_main_newContainer', x_imageid, x_tag);
                }
            }
        })
    </script>
</body>

</html>