<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./fontawesome/css/all.css" />
    <link rel="stylesheet" href="./css/easydocker.css" />

    <!-- ============================ -->
    <!-- JS読み込み                    -->
    <!-- ============================ -->
    <script>
        // JSが動かない対策 https://miyanetdev.com/archives/1162
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

    <!-- https://cdn.jsdelivr.net/npm/vue -->
    <script src="./js/vue.js"></script>

    <!-- script src="./newContainer.js"></script -->
    <script>if (window.module) module = window.module;</script>

    <title>Easy Docker</title>
</head>

<body>
    <div class="container">
        <div id="app">
            <div class="row bs-callout bs-callout-info">
                <h4 id="dealing-with-specificity">{{$t("newContainer.title")}}</h4>
            </div>
            <form>
                <div class="form-group row">
                    <label for="image_tag" class="col-sm-4 col-form-label">{{$t("newContainer.imageTag")}}</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="image_tag" v-model="image_tag" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="image_id" class="col-sm-4 col-form-label">{{$t("newContainer.imageId")}}</label>
                    <div class="col-sm-8">
                        <input type="text" readonly class="form-control-plaintext" id="image_id" v-model="image_id" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="image_id" class="col-sm-4 col-form-label">{{$t("newContainer.service")}}</label>
                    <div class="col-sm-8">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="privileged_true" v-model="privileged"
                                value="true">
                            <label class="form-check-label"
                                for="privileged_true">{{$t("newContainer.service.yes")}}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="privileged_false" v-model="privileged"
                                value="false">
                            <label class="form-check-label"
                                for="privileged_false">{{$t("newContainer.service.no")}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="cmd" class="col-sm-4 col-form-label">{{$t("newContainer.command")}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="cmd" v-model="cmd" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="hostname" class="col-sm-4 col-form-label">{{$t("newContainer.hostname")}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="hostname" v-model="hostname" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="containername"
                        class="col-sm-4 col-form-label">{{$t("newContainer.containername")}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="containername" v-model="containername" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="network" class="col-sm-4 col-form-label">{{$t("newContainer.network")}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="network" v-model="network" />
                    </div>
                </div>

                <div class="form-group row">
                    <!-- 転送 1つめ -->
                    <span class="col-sm-4 mb-3">
                        <label for="port01type" class="col-form-label">{{$t("newContainer.portForwarding")}}</label>
                        <i class="far fa-question-circle text-info" data-toggle="tooltip" data-placement="top"
                            title="HOST --&gt; Container"></i>
                    </span>
                    <div class="col-sm-3">
                        <select class="form-select" id="port01type" v-model="port01type">
                            <option>--</option>
                            <option>tcp</option>
                            <option>udp</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port01from" v-model="port01from" />
                    </div>
                    <label class="col-sm-1">--&gt;</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port01to" v-model="port01to" />
                    </div>

                    <!-- 転送 2つ目 -->
                    <label class="col-sm-4"></label>
                    <div class="col-sm-3 mb-3">
                        <select class="form-select" id="port02type" v-model="port02type">
                            <option>--</option>
                            <option>tcp</option>
                            <option>udp</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port02from" v-model="port02from" />
                    </div>
                    <label class="col-sm-1">--&gt;</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port02to" v-model="port02to" />
                    </div>

                    <!-- 転送 3つ目 -->
                    <label class="col-sm-4"></label>
                    <div class="col-sm-3 mb-3">
                        <select class="form-select" id="port03type" v-model="port03type">
                            <option>--</option>
                            <option>tcp</option>
                            <option>udp</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port03from" v-model="port03from" />
                    </div>
                    <label class="col-sm-1">--&gt;</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port03to" v-model="port03to" />
                    </div>

                    <!-- 転送 4つ目 -->
                    <label class="col-sm-4"></label>
                    <div class="col-sm-3 mb-3">
                        <select class="form-select" id="port04type" v-model="port04type">
                            <option>--</option>
                            <option>tcp</option>
                            <option>udp</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port04from" v-model="port04from" />
                    </div>
                    <label class="col-sm-1">--&gt;</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="port04to" v-model="port04to" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="envvar01name" class="col-sm-4">{{$t("newContainer.envvar")}}</label>
                    <a class="btn btn-link col-sm-2" data-bs-toggle="collapse" href="#collapseenvvar" role="button" aria-expanded="false" aria-controls="collapseenvvar">
                        {{$t("common.display")}}
                      </a>
                    <div class="col-sm-6"></div>
                </div>

                <div class="form-group row collapse" id="collapseenvvar">
                    <!-- Environment variable 1 -->
                    <span class="col-sm-4">
                        <label for="envvar01name" class="col-form-label"></label>
                    </span>
                    <div class="col-sm-3 mb-3">
                        <input type="text" class="form-control" id="envvar01name" v-model="envvar01name" />
                    </div>
                    <label class="col-sm-1">=</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="envvar01value" v-model="envvar01value" />
                    </div>
                    <!-- Environment variable 2 -->
                    <span class="col-sm-4">
                        <label for="envvar01name" class="col-form-label"></label>
                    </span>
                    <div class="col-sm-3 mb-3">
                        <input type="text" class="form-control" id="envvar02name" v-model="envvar02name" />
                    </div>
                    <label class="col-sm-1">=</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="envvar02value" v-model="envvar02value" />
                    </div>
                    <!-- Environment variable 3 -->
                    <span class="col-sm-4">
                        <label for="envvar01name" class="col-form-label"></label>
                    </span>
                    <div class="col-sm-3 mb-3">
                        <input type="text" class="form-control" id="envvar03name" v-model="envvar03name" />
                    </div>
                    <label class="col-sm-1">=</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="envvar03value" v-model="envvar03value" />
                    </div>
                    <!-- Environment variable 4 -->
                    <span class="col-sm-4">
                        <label for="envvar01name" class="col-form-label"></label>
                    </span>
                    <div class="col-sm-3 mb-3">
                        <input type="text" class="form-control" id="envvar04name" v-model="envvar04name" />
                    </div>
                    <label class="col-sm-1">=</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="envvar04value" v-model="envvar04value" />
                    </div>
                    <!-- Environment variable 5 -->
                    <span class="col-sm-4">
                        <label for="envvar01name" class="col-form-label"></label>
                    </span>
                    <div class="col-sm-3 mb-3">
                        <input type="text" class="form-control" id="envvar05name" v-model="envvar05name" />
                    </div>
                    <label class="col-sm-1">=</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="envvar05value" v-model="envvar05value" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="hostname" class="col-sm-4 col-form-label">{{$t("newContainer.memo")}}</label>
                    <div class="col-sm-8">
                        <textarea rows="5" cols="60" class="form-control" id="memo" v-model="memo"></textarea>
                    </div>
                </div>
                <br>

                <!-- button -->
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-auto">
                        <button type="button" class="btn btn-success" @click="doSubmit()">
                            <span id="spinner" class="spinner-border spinner-border-sm" role="status"
                                style="display:none"></span>{{$t("common.create")}}</button>
                        <button type="button" class="btn btn-light"
                            @click="window.close()">{{$t("common.cancel")}}</button>
                    </div>
                </div>



            </form>
        </div>
    </div>

    <script>
        const { ipcRenderer } = require('electron');
        const dockerAPI = require('./dockerAPI');
        const sqlite = require('./libsrc/sqlite.js');
        const vuei18n = require('vue-i18n');
        Vue.use(vuei18n);
        const i18n = new vuei18n({
            locale: 'ja',
            messages: {
                ja: require('./messages_ja.json'),
                en: require('./messages_en.json')
            }
        })

        var app = new Vue({
            i18n: i18n,
            el: '#app',
            data: {
                image_tag: "",
                image_id: "",
                privileged: "true",
                cmd: '/sbin/init',
                hostname: "rakwf21",
                containername: "",
                port01type: "tcp", port01from: "8080", port01to: "8080",
                port02type: "tcp", port02from: "22", port02to: "22",
                port03type: "--", port03from: "", port03to: "",
                port04type: "--", port04from: "", port04to: "",
                envvar01name: "", envvar01value: "",
                envvar02name: "", envvar02value: "",
                envvar03name: "", envvar03value: "",
                envvar04name: "", envvar04value: "",
                envvar05name: "", envvar05value: "",
                envvar06name: "", envvar06value: "",
                envvar07name: "", envvar07value: "",
                envvar08name: "", envvar08value: "",
                envvar09name: "", envvar09value: "",
                envvar10name: "", envvar10value: "",
                memo: "",
                network: "",
                running: false,
            },
            methods: {
                doInit: function (x_imageid, x_tag, x_locale) {
                    this.image_id = x_imageid;
                    this.image_tag = x_tag;
                    i18n.locale = x_locale;
                },
                doSubmit: function () {
                    if (this.running) {
                        alert(this.$t('common.inprogress'))
                    }
                    var privileged = ("true" == this.privileged);

                    //--------------
                    // for insertDB
                    //--------------
                    var insertImageName = this.image_id + ":" + this.image_tag;
                    var insertMemo = this.memo;
                    var insertPortStr = "";

                    var postData = {
                        "Hostname": this.hostname,
                        "Cmd": [this.cmd],
                        "Image": this.image_tag,
                        "ExposedPorts": {
                            //"8080/tcp":{},
                            //"22/tcp":{},
                        },
                        "HostConfig": {
                            "Privileged": privileged,
                            "PortBindings": {
                                //"8080/tcp":[ {"HostPort":"8080"} ],
                                //"22/tcp":[ {"HostPort":"22"} ],
                            },
                        }
                    };
                    if (this.network) {
                        postData.HostConfig['NetworkMode'] = this.network;
                    }
                    var envarArray = [
                        [this.envvar01name, this.envvar01value],
                        [this.envvar02name, this.envvar02value],
                        [this.envvar03name, this.envvar03value],
                        [this.envvar04name, this.envvar04value],
                        [this.envvar05name, this.envvar05value],
                    ];
                    var envvarSetting = [];
                    for (i = 0; i < envarArray.length; i++) {
                        if (envarArray[i][0] && envarArray[i][1]) {
                            envvarSetting.push(envarArray[i][0] + "=" + envarArray[i][1]);
                        }
                    }
                    if (envvarSetting.length != 0) {
                        postData['Env'] = envvarSetting;
                    }
                    var portsArray = [
                        [this.port01type, this.port01from, this.port01to],
                        [this.port02type, this.port02from, this.port02to],
                        [this.port03type, this.port03from, this.port03to],
                        [this.port04type, this.port04from, this.port04to]
                    ];

                    for (var i = 0; i < portsArray.length; i++) {
                        var portSetting = portsArray[i]
                        if (portSetting[0] != "tcp" && portSetting[0] != "udp") {
                            continue;
                        }

                        const from = parseInt(portSetting[1]);
                        if (isNaN(from)) { continue }

                        const to = parseInt(portSetting[2]);
                        if (isNaN(to)) { continue }

                        var containerPort = portSetting[2] + "/" + portSetting[0]
                        postData.ExposedPorts[containerPort] = {};
                        postData.HostConfig.PortBindings[containerPort] = [{ "HostPort": portSetting[1] }]

                        insertPortStr += "localhost:" + from + " --> " + to + "<BR>";
                    }
                    //console.log( postData )
                    $('#spinner').css("display", "")
                    this.running = true;

                    // run
                    var thisCallback = function (x_id, x_error) {
                        this.running = false;
                        $("#spinner").css("display", "none");
                        if (x_error != null) {
                            alert(x_error)
                        } else {
                            //console.log("image=" + insertImageName );
                            //console.log("portStr=" + insertPortStr);
                            //console.log("memo=" + insertMemo);
                            sqlite.insert(x_id, insertImageName, insertPortStr, insertMemo, () => {
                                ipcRenderer.send('async_main_refreshContainer');
                                window.close();
                            })
                        }
                    }
                    dockerAPI.createContainer(postData, true, thisCallback, this.containername);
                }
            }
        })

        // メインプロセスからの通信受け取り
        ipcRenderer.on('async_newContainer_set', function (event, x_imageid, x_tag, x_locale) {
            console.log(x_imageid + ":" + x_tag);
            app.doInit(x_imageid, x_tag, x_locale)
        })

    </script>

    <!-- ================================= -->
    <!-- JS読み込み(Bootstrapは最後らしい)   -->
    <!-- ================================= -->
    <script>
        // JSが動かない対策 https://miyanetdev.com/archives/1162
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- https://code.jquery.com/jquery-3.3.1.slim.min.js -->
    <script src="./js/jquery-3.3.1.slim.min.js"></script>

    <!-- https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js -->
    <script src="./js/popper.min.js"></script>
    <!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js -->
    <script src="./js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>if (window.module) module = window.module;</script>
</body>

</html>